Options -Indexes
DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteRule ^(generations|details)($|/) - [L]
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>

<Files index.html>
    AcceptPathInfo On
</Files>

AddType text/javascript mjs