.card {
  position: relative;

  height: clamp(150px, 30vh, 250px);
  padding: 32px 18px;

  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);

  overflow: hidden;
  cursor: pointer;
  opacity: 0;

  animation: fadeIn 450ms linear 1 forwards;

  transition: all 0.3s ease-in-out;

  @for $i from 1 through 20 {
    &:nth-child(20n + #{$i}) {
      animation-delay: 150ms * $i;
    }
  }

  $types: (
    "normal": $colour-normal,
    "fire": $colour-fire,
    "water": $colour-water,
    "electric": $colour-electric,
    "grass": $colour-grass,
    "ice": $colour-ice,
    "fighting": $colour-fighting,
    "poison": $colour-poison,
    "ground": $colour-ground,
    "flying": $colour-flying,
    "psychic": $colour-psychic,
    "bug": $colour-bug,
    "rock": $colour-rock,
    "ghost": $colour-ghost,
    "dragon": $colour-dragon,
    "dark": $colour-dark,
    "steel": $colour-steel,
    "fairy": $colour-fairy,
  );

  @mixin background {
    background-repeat: no-repeat;
    background-position: 75px -50px, 25% 25%;
    background-size: auto 150%;
  }

  @each $type-primary, $colour-primary in $types {
    // If there is only one type.
    &--#{$type-primary} {
      background: url("/type-icons/#{$type-primary}.svg"),
        linear-gradient(
          225deg,
          lighten($colour-primary, 10%) 25%,
          $colour-primary 60%,
          darken($colour-primary, 25%)
        );
      @include background;
      transition: all 0.3s ease-in-out;

      .list-item__entry {
        color: $colour-primary;
      }
    }

    // If there is more than one type
    @each $type-secondary, $colour-secondary in $types {
      &--#{$type-primary}-#{$type-secondary} {
        background: url("/type-icons/#{$type-primary}.svg"),
          linear-gradient(225deg, $colour-primary, $colour-secondary);
        @include background;
        transition: all 0.3s ease-in-out;

        .list-item__entry {
          color: $colour-secondary;
        }
      }
    }
  }

  &__info {
    position: relative;

    @include flex-y(space-between);
    gap: 10px;
    width: 50%;

    z-index: 3;
  }

  &__name {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
  }

  &__id {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
  }

  &__entry {
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 5px 10px;
    border-top-right-radius: 5px;

    font-size: 12px;
    font-weight: 300;

    background: rgba(255, 255, 255, 0.85);
  }

  &__types {
    @include flex-x($align: center);
    gap: 5px;
    margin-top: 25px;

    p {
      padding: 5px 10px;
      border-radius: 7.5px;

      color: #fff;
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;

      background: rgba(255, 255, 255, 0.25);
    }
  }

  &__legendary {
    font-size: 22px;
    font-weight: 700;
    color: #fff;

    animation: spooky 2500ms ease-in-out infinite 1500ms;
  }

  img {
    position: absolute;
    top: 50%;
    right: -50px;

    height: 100%;
    width: auto;

    z-index: 2;

    transform: scale(1) translateY(-50%);
    transition: all 0.3s ease-in-out;
  }

  &--ivysaur,
  &--pidgeot,
  &--venonat,
  &--machamp,
  &--goldeen,
  &--moltres,
  &--dratini,
  &--cyndaquil,
  &--umbreon,
  &--qwilfish,
  &--porygon2,
  &--sealeo,
  &--groudon,
  &--cresselia,
  &--servine,
  &--gumshoos,
  &--tyrunt,
  &--turtonator,
  &--obstagoon,
  &--zacian {
    img {
      transform: scale(-1, 1) translateY(-50%);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;

    &::before {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }

  // @media screen and (min-width: 320px) {
  //   &__name,
  //   &__id {
  //     font-size: 18px;
  //   }

  //   &__types {
  //     padding-bottom: 15px;
  //   }
  // }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes spooky {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
