.loading-background {
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  z-index: 10;

  pointer-events: none;

  .loading-background__left,
  .loading-background__right {
    position: absolute;
    top: -10vh;
    left: 0;

    height: 110vh;
    width: auto;
  }

  .loading-background__left {
    transform: translateX(0);
    z-index: 2;
  }

  .loading-background__right {
    transform: translateX(0);
    background: #c12026;
  }

  &.loading {
    z-index: 20;
    .loading-background__left {
      animation: slideFromLeft 1000ms ease-in-out 1 forwards;
    }

    .loading-background__right {
      animation: slideFromRight 1000ms ease-in-out 1 forwards;
    }

    figcaption {
      opacity: 1;
      transition: opacity 250ms ease-in-out 500ms;
    }
  }

  &.unloaded {
    .loading-background__left {
      animation: slideLeft 1000ms ease-in-out 1 forwards;
    }

    .loading-background__right {
      animation: slideRight 1000ms ease-in-out 1 forwards;
    }

    figcaption {
      opacity: 0;
      transition: opacity 250ms ease-in-out;
    }
  }

  &.initial {
    figcaption {
      opacity: 1;
      transition: opacity 250ms ease-in-out 750ms;
    }
  }

  figcaption {
    position: absolute;
    top: 50%;
    right: 10%;

    font-size: 125px;
    color: #fff;
    font-weight: bold;

    opacity: 0;
    z-index: 10;

    transition: opacity 250ms ease-in-out;

    span {
      position: relative;
      top: 0;

      display: inline-block;
      margin-right: 10px;

      user-select: none;

      animation: sway 750ms linear infinite;

      &:last-child {
        margin-right: 0;
      }
    }

    @for $i from 1 to 11 {
      span:nth-child(#{$i}) {
        animation-delay: calc(#{$i * 50ms});
      }
    }
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideRight {
  to {
    transform: translateX(100vw);
  }
}

@keyframes sway {
  25% {
    top: 0.25vh;
  }

  50% {
    top: 0px;
  }

  75% {
    top: -0.25vh;
  }

  100% {
    top: 0px;
  }
}
