.loading-background {
  position: fixed;
  top: 0;
  left: 0;

  @include flex-y(center, center);
  gap: 20px;
  height: 100%;
  width: 100%;

  opacity: 0;
  background: #f2f2f2;

  z-index: 10;
  pointer-events: none;
  transition: opacity 250ms ease-in-out 750ms;

  .pokeball-icon {
    position: relative;

    height: 75px;
    width: 75px;
  }

  &.loading {
    opacity: 1;
    z-index: 20;
    transition: opacity 250ms ease-in-out;

    figcaption {
      opacity: 1;
      transition: opacity 250ms ease-in-out 250ms;
    }
  }

  figcaption {
    font-size: clamp(25px, 8vw, 125px);
    color: #333;
    font-weight: 700;

    opacity: 0;
    z-index: 10;

    transition: opacity 250ms ease-in-out;

    span {
      position: relative;
      top: 0;

      display: inline-block;
      margin-right: 10px;

      user-select: none;

      animation: sway 750ms linear infinite;

      &:last-child {
        margin-right: 0;
      }
    }

    @for $i from 1 to 11 {
      span:nth-child(#{$i}) {
        animation-delay: calc(#{$i * 50ms});
      }
    }
  }

  @media screen and (min-width: 320px) {
    figcaption {
      bottom: 15%;

      width: 100%;

      text-align: center;
    }
  }

  @media screen and (min-width: 1024px) {
    figcaption {
      bottom: 50%;
      right: 20px;

      width: 50%;

      transform: translateY(50%);
    }

    &.loading {
      z-index: 20;

      figcaption {
        opacity: 1;
        transition: opacity 250ms ease-in-out 500ms;
      }
    }
  }
}

// GENERIC KEYFRAMES
@keyframes sway {
  25% {
    top: 0.25vh;
  }

  50% {
    top: 0px;
  }

  75% {
    top: -0.25vh;
  }

  100% {
    top: 0px;
  }
}
